.admin {
  height: 100vh;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  width: 700px;
  height: 100%;
  border-right: 3px solid var(--smokey-black);
  border-bottom: 3px solid var(--smokey-black);
  border-left: 3px solid var(--smokey-black);
  border-radius: 10px;
  background-color: white;
  box-shadow: 8px 8px var(--smokey-black);
}

.admin h1 {
  background-color: var(--secondary-color);
}

.question-container, .edit_question_main_container, .admin_main_container {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.edit_question_main_container, .admin_main_container {
  padding-bottom: 300px;
}

.question-form-container, .edit_question_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  width: 700px;
  height: 100%;
  border-right: 3px solid var(--smokey-black);
  border-bottom: 3px solid var(--smokey-black);
  border-left: 3px solid var(--smokey-black);
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 8px 8px var(--smokey-black);
}

.edit_question_form {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding: 10px;
}

.question-form-container p {
  font-size: 17pt;
  padding: 20px 0;
}

.quiz-form .answer-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.quiz-form {
  border-top: 3px solid var(--smokey-black);
  padding-top: 20px;
}

.quiz-form select, .quiz-form input {
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
  margin: 10px;
}

.edit_question_form input, .edit_question_form select {
  width: 150px;
  margin-bottom: 15px;
  padding: 5px;
  border: 3px solid var(--smokey-black);
  border-radius: 5px;
  font-size: 13pt;
  font-weight: bold;
}

.edit_question_form label {
  margin: 20px 0;
}

.quiz-form .answer-group input[type='checkbox'] {
  margin-right: 10px;
}

.quiz-form {
  background-color: #e1e1e1;
  border-radius: 0 0 7px 7px;
}

.error-message, .edit_question_form p {
  color: red;
  margin-bottom: 10px;
  font-size: 15pt;
}

.admin-button {
  margin-bottom: 30px;
}

.edit_question_form button {
  width: 100px;
  height: 30px;
  margin: 10px 10px 0 20px;
}

.question-item {
  cursor: pointer;
  padding: 3px;
  margin-bottom: 4px;
  transition: background-color 0.3s ease;
}

.question-item:hover {
  background-color: #e0e0e0;
}

.modalDiv {
  display: flex;
  flex-direction: column;
}

.questions_container {
  background-color: white;
  border-top: 3px solid var(--smokey-black);
  width: 100%;
  border-radius: 0 0 7px 7px;
}

.questions_container ul {
  list-style: none;
  padding: 10px 20px;
  text-align: left;
}

.questions_container h3 {
  font-size: 25pt;
  padding: 10px 0;
  border-bottom: 3px solid var(--smokey-black);
  background-color: #e1e1e1;
}

.questions_container li {
  font-size: 17pt;
  padding: 5px;
}