.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: auto;
    padding: 3px 0 5%;
    width: 60%;
}

.profile_header_container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 2rem;
    padding: 5%;
    width: 100%;
    background-color: var(--secondary-color);
    border-left: 3px solid var(--smokey-black);
    border-top: 3px solid var(--smokey-black);
    border-right: 3px solid var(--smokey-black);
    border-radius: 10px 10px 0 0;
    box-shadow: 10px 10px var(--smokey-black);
}

.user_pic {
    width: 150px;
    height: 150px;
    border: 8px solid var(--smokey-black);
    border-radius: 50%;
    background-color: white;
}

.profile_header_container h1 {
    font-size: 55pt;
}

.profile_header_container h2 {
    font-size: 35pt;
    padding: 0 auto;
}

.profile_header_container h4 {
    font-size: 25pt;
    margin:  auto;
}

.rank_pic {
    width: 40px;
    height: 40px;
    margin: 0 10px -6px;
}

.profile_body {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    border: 3px solid var(--smokey-black);
    border-radius: 0 0 10px 10px;
    box-shadow: 10px 10px var(--smokey-black);
    width: 110%;
    height: 400px;
    background-color: #fdfaf3;
}

.profile_navbar {
    display: flex;
    flex-flow: column;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    border-right: 3px solid var(--smokey-black);
}

.profile_navbar .profile_navlink {
    list-style: none;
    font-size: 25pt;
    padding: 10px;
    transition-duration: 0.3s;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: var(--smokey-black);
}

.profile_navbar .profile_navlink:hover {
    color: #100c08a7;
    letter-spacing: 0.3px;
    transition-timing-function: 0.3s ease-in-out;
    cursor: pointer;
}

.profile_content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 10px;
}

.status-bar {
    height: 20px;
    width: 300px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .xp p {
    font-size: 18pt;
    text-align: center;
  }
  
  .status-bar-fill {
    height: 100%;
    background-color: var(--smokey-black);
  }

  .xp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 auto;
  }