
.input_container label, .account_container label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin: 10px 50px; 
    font-size: 23pt;
}

.input_container input, .account_container input {
    width: 300px;
    font-size: 18pt;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.account_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.account button {
    background-color: darkgray;
    width: 100px;
    margin: 0 auto;
    padding: 5px 10px;
    box-shadow: 4px 5px var(--smokey-black);
    border-radius: 10px;
    border: none;
    font-size: 20pt;
    transition-duration: 0.3s;
}

.input_container p {
    font-size: 23pt;
    margin: 10px auto;
}

.premium p {
    margin: 150px 50px;
    align-items: center;
    font-size: 23pt;

}

.account button:hover {
    background-color: rgb(138, 138, 138);
    cursor: pointer;
}

#delete_button {
    width: fit-content;
    padding: 5px 10px;
    margin: 80px auto 30px;
    height: fit-content;
    border: none;
    box-shadow: 3px 5px var(--smokey-black);
    border-radius: 10px;
    background-color: red;
    font-size: 10pt;
    transition-duration: 0.3s;
    text-transform: uppercase;
}

#delete_button:hover {
    background-color: rgb(218, 3, 3);
    cursor: pointer;
}