:root {
    --primary-color: #F5DEB3;
    --secondary-color: #00401A;
    --accent-color: #FF3800;
    --smokey-black: #100C08;
}

.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: 2px solid var(--smokey-black);
    text-transform: uppercase;
    font-weight: bold;
    position: sticky;
    font-style: normal;
    font-size: large;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin: auto 10px auto 20px;
    height: 40px;
    cursor: pointer;
}

.logo img {
    height: 30px;
}

.logo p {
    height: 40px;
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: var(--smokey-black);
}
  
.navbar button {
    background-color: var(--primary-color);
    text-align: center;
    border: none;
    offset: none;
    margin: 0 20px;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
}
  
.navbar button:hover {
    color:#af3918;
    transition-duration: 0.3s;
    letter-spacing: 0.2px;
}

#signinBtn {
    background-color: var(--accent-color);
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 40px;
    margin: 0 50px 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 0.3s;
    box-shadow: 3px 5px var(--smokey-black);
}

#signinBtn:hover {
    background-color:#fc5021;
    color: #291f15;
    width: 103px;
    height: 41px;
    letter-spacing: 0.2px;
    font-size: 16px;
    transition-timing-function: 0.3s ease-in-out;
    margin: 0 50px 0 20px;
}