.cards_main_container {
    margin-bottom: 10%;
}

.cards_main_container h1{
    margin-left: 10%;
    padding: 4rem 0 4rem;
    font-size: 42pt;
}

.cards_container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}
  
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    width: 280px;
    height: 100%;
    border-right: 3px solid var(--smokey-black);
    border-bottom: 3px solid var(--smokey-black);
    border-left: 3px solid var(--smokey-black);
    border-radius: 10px;
    background-color: var(--secondary-color);
    box-shadow: 8px 8px var(--smokey-black);
}
  
#card_header {
    display: flex;
    flex-flow: row;
    justify-content: left;
    border: 3px solid var(--smokey-black);
    border-radius: 10px 10px 0 0;
    height: min-content;
    width: 100%;
    padding: 0;
    background-color: var(--accent-color);
}
  
#card_header img{
    width: 15px;
    height: 15px;
    border: none;
    margin: 5px;
}
  
.card_content h3 {
    padding: 10px 0;
    font-size: 20pt;
    letter-spacing: 0.5px;
    background-color: white;
    border-bottom: 3px solid var(--smokey-black);
}
  
.card_content p {
    text-align: justify;
    padding: 15px 20px;
    font-size: 14pt;
    font-weight: bolder;
    height: 150px;
}