.welcome_div {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  padding: 100px auto;
  height: 100%;
  width: 90%;
  font-style: normal;
  margin: 0 auto 100px;
}

.content {
  flex-flow: row;
  width: 80%;
  margin: 20px auto 0;
}

#welcome_img {  
  grid-area: img;
  margin-right: -60px;
}

#welcome_img img{
  width: 28vw;
  margin-top: 20px;
}

.welcome_text {
  display: grid;
  grid-template-areas: 
  "text img"
  "desc img";
}

.welcome_text h1 {
  font-size: 53pt;
  width: 100%;
  text-align: left;
  grid-area: text;
  margin-top: 40px;
  margin-bottom: -20px;
}

.welcome_text h3 {
  text-align: left;
  font-size: 24pt;
  background-color: #066f3037;
  padding: 5px;
  border-radius: 7px;
  grid-area: desc;
}

.welcome_text p {
  font-size: 22pt;
  grid-area: desc;
  margin-top: 1rem;
}


/* --- MEDIA QUERIES --- */
/* --- DESKTOP --- */

@media only screen and (max-width: 700px) { 

  .welcome_text p {
    font-size: 20pt;
    margin: 10px;
  }
}

@media only screen and (max-width: 1500px) {

  .welcome_text {
    margin: 0;
    padding: 0;
    grid-template-areas: 
    "text"
    "desc";
  }
  #welcome_img {
    margin: 0;
    padding: 0;
    display: none;
  }

  #welcome_img img{
    margin: 0;
    padding: 0;

    display: none;
  }
  .welcome_text p {
    font-size: 20pt;
    margin: 20px auto;
    padding: 0 0;
    text-align: justify;
  }
  .welcome_text h1 {
    font-size: 50pt;
    text-align: center;
    }
  .welcome_text h3 {
    text-align: center;
    font-size: 22pt;
    background-color: #066f3037;
    margin: 20px auto;
  }
}


@media only screen and (min-width: 1501px) and (max-width: 1700px) { 
  .welcome_text {
    margin-top: 20px;
    grid-template-areas: 
    "text img"
    "desc desc";

  }
  #welcome_img {  
    margin-right: -400px;
  }
  #welcome_img img{
    width: 25vw;
    margin-top: 0;
  }

.welcome_text h1{
  font-size: 50pt;
  margin-top: 100px;
}
}
