.main_container {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  margin: 0 10%;
}

.quiz_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 5px solid var(--smokey-black);
  border-radius: 10px;
  box-shadow: 5px 5px var(--smokey-black);
}
.quiz_question_container {
  border-right: 5px solid var(--smokey-black);
  height: 100%;
  width: 70%;
  padding: 0 30px;
}

.quiz_question_container h2 {
  margin-top: 2rem;
  font-size: 35pt;
}

.quiz_question_container p {
  font-size: x-large;
}

.quiz_question_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz_question {
  font-size: 35px;
}

.quiz_answer_container {
  display: flex;
  flex-direction: column;
  height: 28rem;
  margin-top: 20px;
  margin-right: 7rem;
  align-items: center;
  justify-content: space-between;
}
.quiz_answer {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
}

.quiz_answer button {
  padding: 10px;
  width: 300px;
  border: 3px solid var(--smokey-black);
  border-radius: 10px;
  background-color: #cdcdcd;
}

.quiz_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: fit-content;
  padding: 20px;
  border-radius: 40px;
}

.handler_side {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.quiz_answer > div > a {
  text-decoration: none;
}

.handler {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.handler button {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 40px;
  margin: 10px 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.3s;
  box-shadow: 3px 5px var(--smokey-black);
}