.body {
  background-color: var(--primary-color);
  width: 100%;
  height: 80%;
}

.body_main_div {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  height: calc(fit-content + 30px);
  display: flex;
}

#body_text {
  width: 40%;
  text-align: justify;
  margin: 0 auto;
}

#body_text h2 {
    font-size: 45pt;
    text-align: left;
}

#body_img {
  width: 40%;
  opacity: 20%;
  padding: auto;
  border-radius: 50px;
}