.error-container {
  margin: auto;
  text-align: center;
  max-width: 600px;
  padding: 100px;
  border-radius: 5px;
}

.error-container h1 {
  color: #d9534f;
}

.error-container p {
  font-size: 16px;
}
